In [1]:
print("Hello")

Hello

In [2]:
2+3

5

In [3]:
from platform import python_version
print(python_version())

3.10.8

In [4]:
# Single Line Comment
print("Hello")

Hello

In [5]:
a=10
print(a)
print(type(a))

10
<class 'int'>

In [11]:
name=input("Enter Your Name:")
print(name)

Rana Corporation

In [12]:
print(name.split())

['Rana', 'Corporation']

In [13]:
a=input("Enter A:")
b=input("Enter B:")
print(a+b)

151

In [14]:
a=int(input("Enter A:"))
b=int(input("Enter B"))
print(a+b)

35

In [15]:
a=20
b=9
print(a/b)
print(a//b)

2.2222222222222223
2

In [13]:
a=2
b=3
print(a*b)
print(a**b)

6
8

In [16]:
statement="  Hello  "
statement.strip()

'Hello'

In [15]:
string="{2} {1} {0}".format("Hello","World","Me")
print(string)

Me World Hello

In [16]:
string="Rana"
print(string[::-1])

anaR

### Python Lists

In [44]:
mylist=["Red",23,False,3.4]
print(mylist)
print(type(mylist))

['Red', 23, False, 3.4]
<class 'list'>

In [45]:
print(mylist[0])

Red

### Python Tuples

In [48]:
mytuple=("Hello",7,True,"Rana")
print(mytuple)
print(type(mytuple))

('Hello', 7, True, 'Rana')
<class 'tuple'>

In [49]:
print(mytuple[2])

True

In [27]:
print(mytuple[1:3])

(7, True)

In [29]:
mytuple2=("Gandhi","Patel")
mytuple3=mytuple+mytuple2
print(mytuple3)

('Hello', 7, True, 'Rana', 'Gandhi', 'Patel')

In [33]:
# del is keyword used fro deleting the items
# immutable
del mytuple3[2]
print(mytuple3)

TypeError: 'tuple' object doesn't support item deletion

In [36]:
mytuple3[2]=False
print(mytuple3)

TypeError: 'tuple' object does not support item assignment

#### Tuples Method

In [37]:
numbers=(1,2,3,4,9,1,3,9,0,1,2,8,2,1)
print(numbers.count(1))

4

In [38]:
print(numbers.index(9))

4

### Python Dictionary

In [39]:
mydict={"Name":"John","Age":34,"Gender":"Male"}
print(mydict)
print(type(mydict))

{'Name': 'John', 'Age': 34, 'Gender': 'Male'}
<class 'dict'>

In [40]:
print(mydict["Name"])

John

#### Dictionary Method

In [41]:
print(mydict.keys())

dict_keys(['Name', 'Age', 'Gender'])

In [42]:
print(mydict.values())

dict_values(['John', 34, 'Male'])

In [43]:
print(mydict.items())

dict_items([('Name', 'John'), ('Age', 34), ('Gender', 'Male')])

In [50]:
mydict.update({"Age":30})
print(mydict)

{'Name': 'John', 'Age': 30, 'Gender': 'Male'}

In [51]:
mydict["Weight"]=62
print(mydict)

{'Name': 'John', 'Age': 30, 'Gender': 'Male', 'Weight': 62}

In [53]:
mydict.pop("Gender")
print(mydict)

{'Name': 'John', 'Age': 30, 'Weight': 62}

### Python Sets

In [60]:
subject1={"Hindi","English","Gujarati","Maths","Sanskrit"}
print(subject1)
print(type(subject1))

{'Gujarati', 'Hindi', 'English', 'Maths', 'Sanskrit'}
<class 'set'>

In [59]:
subject2={"BA","Eco","State","English"}
# pipe symbol used to make union of two sets
subject1|subject2

{'BA', 'Eco', 'English', 'Gujarati', 'Hindi', 'Maths', 'Sanskrit', 'State'}

In [57]:
# union method to make union of two sets
subject1.union(subject2)

{'BA', 'Eco', 'English', 'Gujarati', 'Hindi', 'Maths', 'Sanskrit', 'State'}

In [61]:
subject1.intersection(subject2)

{'English'}

### Python Built in Function

In [62]:
fruits=["Banana","Orange","Kiwi","Apple"]
len(fruits)

4

In [63]:
name="Rana Corporation"
len(name)

16

In [64]:
sorted(fruits)

['Apple', 'Banana', 'Kiwi', 'Orange']

In [65]:
numbers=[10,3,24,78,100,2,4,67,200]
max(numbers)

200

In [66]:
sum(numbers)

488

#### List Built in Function

In [67]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

#### Set Built in Function

In [68]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

#### Tuple Built in Function

In [69]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

### Type Casting

In [71]:
n=10
print(n)
print(type(n))

print(float(n))
print(type(float(n)))

10
<class 'int'>
10.0
<class 'float'>

In [72]:
print(str(n))
print(type(str(n)))

10
<class 'str'>

In [74]:
mylist=["Apple","Banana","Cherry"]
print(mylist)
print(type(mylist))

print(tuple(mylist))
print(type(tuple(mylist)))

['Apple', 'Banana', 'Cherry']
<class 'list'>
('Apple', 'Banana', 'Cherry')
<class 'tuple'>